.message-list-container {
  padding: 10px;
  padding-bottom: 70px;
}

.dialog-container {
  min-height: 0 !important;
}

.dialog {
  width: 90%;
  text-align: center;
}

.sendLocationDialog .dialog {
  height: 85%;
  width: 100%;
}

.crypto-span {
  background-color: #F1F1F1;
}

.send-crypto-status {
  color: #007aff;
}

.send-crypto-status-success {
  color: forestgreen;
}