ons-splitter-side ons-page div.page__content {
    /*background-color: white !important;*/
}

.right.toolbar__right.notification-menu {
    position: absolute;
    left: calc(100% - 65px);
    width: 50px;
}
