.PhotoGallery__spinner-container {
  padding-top: 100px;
  text-align: center;
}

.ons-ios-scroll-fix .page:not(.page--wrapper)[shown] > .page__content {
  -webkit-transform: translate3d(0,0,0);
  overflow-x: hidden;
  overflow-y: scroll;
}

/*.page__content {*/
/*  -webkit-transform: translate3d(0,0,0);*/
/*  overflow-x: hidden;*/
/*  overflow-y: scroll;*/
/*}*/

/*body {*/
/*  overflow-x: hidden;*/
/*  overflow-y: scroll;*/
/*  -webkit-overflow-scrolling: touch;*/
/*}*/

/*.tabbar {*/
/*  position: fixed !important;*/
/*  z-index: 999999;*/
/*}*/

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

body,
html {
  position: fixed;
}

/*::-webkit-scrollbar {*/
/*    width: 0px;  !* Remove scrollbar space *!*/
/*    background: transparent;  !* Optional: just make scrollbar invisible *!*/
/*}*/

