.sign-up-form-wrapper {
    min-height: 450px;
}

.log-in-form-wrapper {
    min-height: 450px;
}

.Flipcard-front {
    width: 100%;
    min-height: 500px;
}

.Flipcard-back {
    width: 100%;
    min-height: 500px;
}